<main>
  <article>
    <section>
      <app-menu></app-menu>
      <div class="left">
        <div class="content">
          <p>When the reality interact with imagination</p>
          <div class="accroche">
            <span>Dreams are more </span>
            <span>complex that it seems.</span>
            <span>Let us show you</span>
          </div>
          <div class="buttons">
            <button class="other_option">Visit</button>
            <a href="try"><button class="choose_me">Try it</button></a>
          </div>
        </div>
        <div class="cercles">
          <div class="grand"><div class="petit"></div></div>
        </div>
      </div>
      <div class="holo">
        <img src="/assets/img/holo.png" alt="" />
      </div>
      <div class="right">
        <div class="threed">
          <app-donut></app-donut>
        </div>
        <div class="link">
          <i class="fa-brands fa-pinterest-p"></i>
          <i class="fa-brands fa-facebook-f"></i>
          <i class="fa-regular fa-user"></i>
        </div>
      </div>
    </section>
  </article>
</main>
