<div class="" (click)="startExploring()">
  <canvas #canvas class="w-full h-dvh"></canvas>

















<!--  <div *ngIf="!controlsActive " class="instructions" (click)="startExploring()">-->
<!--    <div class="content">-->
<!--      <h1>Click to explore the room</h1>-->
<!--      <p>Move: WASD / Arrow keys</p>-->
<!--      <p>Look: Mouse</p>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div *ngIf="!controlsActive" class="absolute z-50 w-20 h-20 bg-white rounded-full shadow-lg flex items-center justify-center left-20 top-10">-->
<!--    <button class="toggle-modification-btn" (click)="toggleModificationMode()">-->
<!--      {{ isModificationMode ? 'Quit Modification Mode' : 'Enter Modification Mode' }}-->
<!--    </button>-->
<!--  </div>-->


<!--  &lt;!&ndash; Color picker button &ndash;&gt;-->
<!--  <div class="color-control" [class.active]="colorPickerVisible">-->
<!--    <button class="toggle-btn" (click)="toggleColorPicker($event)">-->
<!--      <span *ngIf="!colorPickerVisible">🎨</span>-->
<!--      <span *ngIf="colorPickerVisible">✖</span>-->
<!--    </button>-->

<!--    <div *ngIf="colorPickerVisible" class="color-panel">-->
<!--      <h3>Floor Color</h3>-->
<!--      <input type="color" #colorInput (change)="changeFloorColor(colorInput.value)" class="color-picker">-->
<!--    </div>-->
<!--  </div>-->
</div>
