<header>
  <div class="left">
    <div class="logo">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 164.84 211.25"
        fill="var(--white)"
      >
        <g id="Calque_2" data-name="Calque 2">
          <g id="Graphic_Elements" data-name="Graphic Elements">
            <path
              d="M82.42,0a82.42,82.42,0,0,0,0,164.84v46.41s82.42-29.35,82.42-128.83A82.42,82.42,0,0,0,82.42,0ZM55.34,82.42a27.08,27.08,0,1,1,27.08,27.07A27.09,27.09,0,0,1,55.34,82.42Z"
            />
          </g>
        </g>
      </svg>
    </div>
    <div class="grid"></div>
    <nav>
      <a href="landing">Home</a>
      <a href="">Department</a>
      <a href="">Contact us</a>
      <a href="">Support</a>
    </nav>
  </div>
  <div class="right">
    <div class="language">
      <span> <b>MG</b> </span>
      <span>FR</span>
    </div>
    <div class="search">
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <button class="bouton">Connexion</button>
  </div>
</header>
