<main>
  <section class="right">
    <div class="pic">
      <div class="dzgn">
        <div class="top"></div>
        <video autoplay loop muted>
          <source src="/assets/video/note.mp4" type="video/mp4" />
          <track kind="subtitles" srclang="fr" label="Français" />
          <track kind="descriptions" srclang="fr" label="Descriptions" />
          Votre navigateur ne supporte pas la lecture de vidéos.
        </video>
        <div class="bas"></div>
      </div>
    </div>
    <div class="text">
      <h1>Dominez tous les terrains</h1>
      <p>
        Rejoignez-nous dès maintenant pour découvrir nos produits et rejoindre
        une nouvelle génération de cyclistes !
      </p>
    </div>
  </section>
</main>
