<main>
  <section class="right">
    <div class="pic relative">
      <div class="dzgn">
        <div class="top"></div>
        <video #video width="480" height="360" autoplay></video>
        <canvas #canvas width="480" height="360" style="display: none;"></canvas>
        <div class="bas"></div>
      </div>
      <div (click)="capturePhoto()" class="rounded-full cursor-pointer border-black text-black bg-terracotta border px-4 py-2 absolute bottom-2 left-4">
        Log in
      </div>
      <div  class="rounded-full border-black text-black bg-terracotta border px-4 py-2 absolute top-2 right-16">
        Sign up
      </div>
    </div>
<!--    <ngx-spinner *ngIf="isLoading" type="ball-scale-multiple"></ngx-spinner>-->
  </section>
  <app-loader *ngIf="isLoading"></app-loader>
</main>
