<main class="spotlight">
  <div class="page1">
    <div class="bg">
      <video autoplay loop muted>
        <source src="/assets/video/note.mp4" type="video/mp4" />
        <track kind="subtitles" srclang="fr" label="Français" />
        <track kind="descriptions" srclang="fr" label="Descriptions" />
        Votre navigateur ne supporte pas la lecture de vidéos.
      </video>
    </div>
    <section class="logo">
      <!-- <img src="/img/ai/red-stellar@2x.png" alt="red-stellar" /> -->
    </section>
    <section class="text">
      <h1>Futur family</h1>
    </section>
  </div>
</main>
