.landing {
  width: 100dvw;
  height: 100dvh;
  position: relative;
  overflow: hidden;
}
.landing .bg {
  width: 100dvw;
  height: 100dvh;
  position: absolute;
  top: 0;
  overflow: hidden;
  z-index: -1;
}
.landing .bg video {
  width: 100%;
}

.landing .content {
  padding: 50px;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: row;
}
.landing .content .left {
  flex: 1;
}
.landing .content .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}
.landing .content .right .up {
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.landing .content h1 {
  font-size: 2.5em;
  color: #ffff;
}
